@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


  .outer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0ac5ab;
}

.out-container{
    position: relative;
    max-width: 450px; /* ADJUSTED */
    height: 470px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.out-container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color:#333;
    display: grid; /* NEW */
    justify-content: center;   /* NEW */

    margin-bottom: 50px;
}

.out-container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    overflow: hidden;
    overflow-y: scroll;
}

.field-input{
  box-sizing: border-box; /* Ensures padding does not add to the width of the div */
  margin-bottom: 30px; /* Optional: Adds space between the divs */
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Centers the items vertically */
  width: 100%; /* Takes full width of its parent */
  border: 1px solid #333;
  border-radius: 10px;
  height: 50px;
  position: relative;
  
}


.field-input .logo{
    width: 40px; /* Sets the fixed width for the logo span */
  flex-shrink: 0; /* Prevents the logo from shrinking */
  display: flex; /* Enables flexbox within the logo span to center the icon */
  justify-content: center; /* Centers the icon horizontally */
  align-items: center; /* Centers the icon vertically */
  background-color: #c7c7c7;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
}
  
.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.field-input input{
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
    height: 100%;
    width: calc(100% - 50px); /* Takes the remaining width minus the span width and some margin */
    flex-grow: 1; /* Allows the input to grow and fill the available space */
}

.field-input input, .field-input select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    padding: 0 15px;
}

.field-input input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);

}

.login-btn{
    height: 50px;
    width: 100%;
    margin-top: 50px;
    border: none;
    background-color: #0ac5ab;
    color: #fff;
    border-radius: 10px;
}

.signup-link{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.signup-link a, .forgot-password a{
    text-decoration: none;
}